<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

<head>
    <title>Sensor and Camera</title>
    <style>
        #map {
            width:99%;
            height: 400px;
        }
        .flex-container{
            display:flex;
            border:10px;

        }

        img {   
  	display: flex;
  	/* margin-left: auto;
  	margin-right: auto; */
    aspect-ratio:16px/9px ;
	width:55%;
    /* height:auto; */
	} 
    

.jumbotron{
    widows: 50px;
    height: 80px;
    justify-content: center;
}

.row{
    justify-content: left;
}
.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}
.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #05963c;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}
    </style>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Sensor Data Chart</title>

<body class="flex-container" style="background-color: transparent;">

    <!-- <div class="flex-container"> -->

        <img id="bg" class="left" src="{{ url_for('video_feed') }}">
        <div>
        <!-- <div  style="height:200px">
            <canvas id="sensor-chart"></canvas>
        </div> -->
        

        <div class="container-fluid">

            <div class="row">
    
                <div class="col-4 jumbotron p-1 mx-1">
                    <h5 class="sensor1"> Humidity: </h5>
                    <h5 class="sensor3">Temparature:</h5>
                </div>
                <div class="col-4 jumbotron p-1 mx-1">
                    <h4 class="sensor2">CPM:</h4>
                    <h4 class="sensor4">nSv :</h4>
                </div>
                <br>
                <div class="col-4 jumbotron p-1 mx-1">
                    <h4 class="sensor5">H2S :</h4>
                    <h4 class="sensor6">CO :</h4>
                </div>
                <br>
                <div class="col-5 jumbotron p-1 mx-1">
                    <h4 class="sensor7">Data aqusition:</h4>
                    <div class ="flex-container">
                    <div class="led-box ml-5">
                        <div class="led-green"></div>
                      </div>
                    <div class="led-box ml-5">
                        <div class="led-red"></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
    <!-- </div> -->
</div>
</body>
<script>
    $(document).ready(function () {

      
        setInterval(function () {
            $.ajax({
                type: 'POST',
                url: '{{ url_for("data") }}',
                success: function (response) {
                    console.log(response);
                    $(".sensor1").text("");
                     $(".sensor1").text("Humidity : " + response.humidity );

                    $(".sensor2").text("");
                     $(".sensor2").text("CPM : " +  Math.round(response.cpm) );

                    $(".sensor3").text("");
                    $(".sensor3").text("Temparature : " +response.temparature );

                    $(".sensor4").text("");
                    $(".sensor4").text("nSV : " +  Math.round(response.nSv) );

                    $(".sensor5").text("");
                    $(".sensor5").text("H2S: " +  Math.round(response.avg_h2s) );
                    $(".sensor6").text("");
                    $(".sensor6").text("CO: " +  Math.round(response.avg_co) );
                    // $(".sensor7").text("");
                    // $(".sensor7").text("Altitude: " +  Math.round(response.alt) );
                    
                    if (response.status == true) {
                        $(".led-green").show();
                        $(".led-red").hide();
                    }
                    else {
                        $(".led-red").show();
                        $(".led-green").hide();
                    }
                    
             }
            });
        }, 2000);
    });
</script>
<!-- <script>
    $(document).ready(function () {

        var ctx = $('#sensor-chart');

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Humidity',
                    data: [],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 3
                }, {
                    label: 'Temparature',
                    data: [],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 3
                },{
                    label: 'CPM',
                    data: [],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 100, 255, 1)',
                    borderWidth: 3
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',

                        time: {
                            unit: 'second'
                        },
                        distribution: 'linear'
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
        setInterval(function () {
            $.ajax({
                type: 'POST',
                url: '{{ url_for("data") }}',
                success: function (response) {
                    console.log(response);
                    $(".sensor1").text("");
                     $(".sensor1").text("Temperature : " +  Math.round(response.humidity) );

                    $(".sensor2").text("");
                     $(".sensor2").text("CPM : " +  Math.round(response.cpm) );
                    if (response.status == true) {
                        $("#warning").show();
                    }
                    else {
                        $("#warning").hide();
                    }
                    if (!response?.error) {
                        var now = new Date();
                        chart.data.labels.push(now.toLocaleTimeString());
                        chart.data.datasets[0].data.push(response.humidity);
                        chart.data.datasets[1].data.push(response.temparature);
                        chart.data.datasets[2].data.push(response.cpm);
                        if (chart.data.labels.length > 11) {
                            chart.data.labels.shift();
                            chart.data.datasets[0].data.shift();
                            chart.data.datasets[1].data.shift();
                        }
                        chart.update({
                            duration: 80,
                            easing: 'linear'
                        });
                    }

                }
            });
        }, 1000);
    });
</script> -->


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Initialize the map
    var lat, l
    var mymap = L.map('map').setView([0.0000, 0.0000], 20);

    // Add a tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 40
    }).addTo(mymap);
    var locations = [];
    // Create a marker at the Raspberry Pi location
    var marker = L.marker([0.000, 0.000]).addTo(mymap);
    var polyline = L.polyline(locations, { color: 'red' }).addTo(mymap);
    // Update the marker position periodically
    setInterval(function () {

        $.ajax({
            url: '/data',
            type: 'POST',
            success: function (data) {
                // Update the map view and marker position
                mymap.setView([data.lat, data.long], mymap.getZoom());
                marker.setLatLng([data.lat, data.long]);
                locations.push([data.lat, data.long]);

                polyline.setLatLngs(locations);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('Error:', textStatus, errorThrown);
            }
        });

    }, 10000);  // Update every 10 seconds
</script>

</html>